<div class="container" >
    <button *ngIf="tracks && tracks.length > 0" class="btn btn-warning" style="margin-bottom: 2%;" (click)="backList()">Back</button>
    <div class="row" *ngFor="let item of tracks">
        <div class="col-3">
 
        </div>
        <div class="col-3">
            <img src="{{item.album && item.album.images[1] && item.album.images[1].url}}" alt="link erro"
                style="width: 200px;height: 200px;">
            <h5 style="font-weight: bold;color: #1855ff;margin-top: 2%;margin-bottom: 0;">{{item.name}}</h5>
            <p style="margin-bottom: 0;font-weight: 600;"> <span
                    style="font-weight: 700;color: red;font-size: 20px;">type: </span>
                {{item.type}}
            </p>
        </div>
        <div class="col-6">
            <audio controls style="float: left;">
                <source src="{{item.preview_url}}" type="audio/ogg">
            </audio>
 
        </div>
    </div>
</div>