<div class="row playlist-container">
    <div class="playlist-reponsive col-xl-6 margin-b-2" *ngFor="let item of playList; let i=index"
        [ngStyle]="{ display: item.display ? 'block': 'none'}" (click)='viewListDetail(item,i)'>
        <img class="image-playlist" src="{{item.images[1] && item.images[1].url}}" alt="link erro">
        <h5 class="title">{{item.name}}</h5>
        <p class="total-text"> <span class="total-text__span">Total Tracks: </span>
            {{item.tracks.total}}
        </p>
    </div>

    <div class="text-center" *ngIf="clickInformation.isClickSearch && clickInformation.isTypeCurrentList && playList && playList.length == 0">
        <h5 class="color-red">No Data For Your Current Playlist</h5>
    </div>

</div>

<app-track-detail *ngIf="playlists && playlists.length > 0" [tracksList]="tracksList" [playlists]='playlists'
    [indexOfPlaylist]='indexOfPlaylist'></app-track-detail>