<div class="container text-center">
    <h1>Music Store</h1>
    <div class="search-box">
        <div class="row">
            <div class="search-box__container">
                <select class="select-reponsive search-box__container__select" [(ngModel)]="selectedTypeSearch"
                    (change)="changeType()">
                    <option *ngFor="let o of options">{{o.name}}</option>
                </select>
            </div>
            <form class="form-reponsive col-12 col-sm-6 col-md-5 col-lg-7" [formGroup]="contactForm">
                <input [appHighlight]="returnColor(contactForm.get('name'))" type="text" class="form-control" id="name"
                    placeholder="Typing Your Characters To Search" formControlName="name" />
            </form>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 display-content">
                <button class="button-reponsive btn btn-success margin-r-12" (click)="searchMusic()"
                    [disabled]="isDiableSearchButton()" type="submit">Search</button>
                <button *ngIf="!accessToken || tokenExprise" class="button-reponsive btn btn-warning" type="button"
                    (click)="getNewToken()">Get Token</button>
            </div>
        </div>

        <div class="error-validation-container"
            *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">

            <div *ngIf="contactForm.get('name')?.errors?.['required']">
                KeyWord is required.
            </div>
            <div *ngIf="contactForm.get('name')?.errors?.['minlength']">
                KeyWord must be at least 2 characters .
            </div>
        </div>

    </div>

    <div class="token-container" *ngIf="!accessToken">
        <p class="color-red">
            You Don't Have Token. Please Click Get Token!
        </p>
    </div>

    <div class="token-container" *ngIf="tokenExprise">
        <p class="color-red">
            The Token Expired. Please Click Get Token!
        </p>
    </div>

    <div *ngIf="!isLoading">
        <app-artist-detail *ngIf="!tokenExprise" [tracks]="tracks" [artists]="artists" [accessToken]='accessToken'
            [clickInformation]="clickInformation"></app-artist-detail>
        <app-playlists *ngIf="!tokenExprise" [playlists]="playlists" [accessToken]='accessToken'
            [clickInformation]="clickInformation"></app-playlists>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>