<div class="row artist-container">
    <div class="artist-reponsive margin-b-2" *ngFor="let item of artistsList; let i=index"
        [ngStyle]="{ display: item.display ? 'block': 'none'}" (click)='viewTopTrack(item,i)'>
        <img class="image-artist" src="{{item.images[1] && item.images[1].url}}" alt="link erro">
        <h5 class="title">{{item.name}}</h5>
        <p class="popularity-content"> <span class="popularity-content__span">Popularity: </span>
            {{item.popularity}}
        </p>

        <p class="genres-content"> <span class="genres-content__span">Genres: </span>
            {{returnGenres(item.genres)}}
        </p>
    </div>

    <div class="text-center"
        *ngIf="clickInformation.isClickSearch && !clickInformation.isTypeTrack && !clickInformation.isTypeCurrentList && artistsList && artistsList.length == 0">
        <h5 class="color-red">No Data For Your Search.Please Search Again!</h5>
    </div>

</div>

<app-track-detail [topTrack]="topTrack" [artistsList]='artistsList' [index]='indexOfArtist'></app-track-detail>