@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .artist-reponsive {
        width: 33.33%
    }
  }

  @media screen and (max-width: 1199px)  {
    .artist-reponsive {
        width: 41.66%;
    }
  }

  @media screen and (max-width: 991px)  {
    .artist-reponsive {
        width: 50%;
    }
  }

  @media screen and (max-width: 767px)  {
    .artist-reponsive {
        width: 100%;
    }
  }

  @media screen and (min-width: 1400px)  {
    .artist-reponsive {
        width: 25%;
    }
  }